body {
    background-color: black;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0px;
    padding: 0px;
}

#content {
    width: 100%;
    max-width: 800px;
    padding: 20px;
}

.latex {
    margin: 10px 0;
    text-align: left;
    border-radius: 6px;
}

.markdown {
    margin: 10px 0;
    text-align: left;
    color: cornsilk;
    border-radius: 6px;
}

.codeblock {
    background-color: rgb(17, 17, 17);
    color: cadetblue;
    font-family: "Courier New", monospace;
    width: 100%;
    padding: 15px;
    margin: 10px 0px;
    border-radius: 6px;
}

.code {
    white-space: pre;
}
